* {
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

div {
    padding: 0;
    margin: 0;
}

body {
    background-color: #333333;
    color: white;
}

h1 {
    text-align: center;
    font-size: 5.8rem;
}

.navWrap {
    width: 100%;
    height: 125px;
    position: sticky;
    z-index: 1;
    background-color: #444444;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid #AAAAAA;
    box-shadow: 6px 0 12px black;
}

.logo {
    height: 99%;
    margin-left: 15px;
}